*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    /* vertically it will be in center */
    padding: 0 12px;
    /* top&bottom padding = 0 & left-right = 12 */
    font-family: 'Roboto' , sans-serif;
}
nav ul{
    list-style-type: none;  /*to remove list style*/
    
}
.gameContainer{
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    /* margin: auto;   */
    /*may or may not b'coz flex is used*/
    justify-content: center;
    /* set content to center in horizontally */
    /* margin-top: 50px; */
    padding-top: 50px;
    /* padding-bottom: 0; */
    background: linear-gradient(to bottom, #fcdaa8 0%, #dbf8cd 100%);
}
.container{
    background: linear-gradient(to bottom, #71d8fa 0%, #b7fab8 100%);
    display: grid;
    grid-template-rows: repeat(3 , 10vw);
    grid-template-columns: repeat(3 , 10vw);
    /* important */
    font-family: 'Roboto' , sans-serif;
    margin-bottom: 20px;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    /* use vw to make site responsive */
    cursor: pointer;
    /* ?? */
    display: flex;
    justify-content: center;
    align-items: center;
    /* to make horizontally and vertically in center */
}
.box:hover{
    background-color: rgb(222, 190, 254);
}
.info{
    font-size: 25px;
}
.gameInfo{
    padding: 0 34px;  /* ?? */
    font-family: 'Baloo Bhaina 2' , cursive;
}
.gameInfo h1{
    color: rgb(250, 70, 70);
}
.info{
    color: rgb(220, 9, 167);
}
/* #reset:hover{
    padding: 7px 12px;
} */
.boxtext{
    color: #2415c9;
}
.imgbox img{
    /* display: none; */
    height: 300px;
    /* width: 250px; */
    width: 0;
    transition: width 1s ease-in-out;
}
/* bt and bl are only naming */
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background-color: rgb(189, 247, 228);
    border-radius: 6px;
    cursor:pointer;
    font-family: "Baloo Bhaina 2";
    font-size: 15px;
    font-weight: bolder;
}
.sa{
    height: 5.7vh;
    background-color: #a3a2a0;
}
.sa h4{
    font-size: 25px;
    padding-right: 20px;
    text-align: right;
}
@media screen and (max-width: 800px){
    /* #contents{
        width: 90%;
    } */
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
}